:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #cdcdcd;
  --gray-300: #b4b4b4;
  --gray-400: #9b9b9b;
  --gray-500: #676767;
  --gray-600: #424242;
  --gray-700: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--gray-700);
}

#thecanvas {
  position: absolute;
  right: 0;
}

#videos {
  left: 0;
  position: fixed;
  height: 100%;
  width: calc(100% - 280px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 20px;
  overflow: hidden;
  z-index: 10;
}

#videos #myvideo{
  margin: 5px;
  transform: scaleX(-1);

}

ul {
  right: 0;
  margin: 0;
  position: fixed;
  text-align: left;
  padding: 0px 20px;
  color:var(--white);
  height: 100vh;
  width: 200px;
  background-color: var(--gray-900);
  max-height: 100vh;
  overflow-y: auto;
}

#panel li {
  list-style-type: none;
}

#header {
  text-align: center;
}

#receivedVideo {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.id {
  display: flex;
  flex-direction: column;
}

#vote {
  display: flex;
  justify-content: end;
}

#vote h2{
  padding: 5px 10px;
  border-radius: 5px;
  border-color: var(--gray-100);
  border-style: solid;
}

#heart {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease; 
}

#raiseHand {
  position: absolute;
  height: 100px;
  width: 100px;
  font-size: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease; 
}

#yay {
  position: absolute;
  height: 100px;
  width: 100px;
  font-size: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease; 
}

#thumb {
  position: absolute;
  height: 100px;
  width: 100px;
  font-size: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease; 
}

#symbolContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#heart.visible {
  opacity: 1; 
  animation: shake 0.5s ease-in-out;
}

#raiseHand.visible {
  opacity: 1;
  animation: shake 0.5s ease-in-out;
}

#yay.visible {
  opacity: 1;
  animation: shake 0.5s ease-in-out;
}

#thumb.visible {
  opacity: 1;
  animation: shake 0.5s ease-in-out;
}


@keyframes shake {
  0% { transform: translate(-50%, -50%) rotate(-5deg); }
  25% { transform:  translate(-50%, -50%) rotate(5deg); }
  50% { transform:  translate(-50%, -50%) rotate(-5deg); }
  75% { transform: translate(-50%, -50%) rotate(5deg); }
  100% { transform: translate(-50%, -50%) rotate(-5deg); }
}








